@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Ojuju:wght@200..800&family=Quicksand:wght@300..700&display=swap');

.backgroundcontainer {
    background-color: white;
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

.mainhead {
    text-align: center;
    font-family: "Madimi One", sans-serif;
    font-size: 7vh;
    font-weight: lighter;
    margin-top: 6vh;
    margin-bottom: 40px;
}

.firsthead,
.taskhead {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5vh;
    font-weight: bold;
}

.firsthead-sub,
.taskheadsub {
    font-weight: lighter;
}

.input-container {
    margin-right: 100px;
}

.user-input {
    width: calc(100% - 50px);
    border: 0.5px solid black;
    border-radius: 10px;
    padding: 25px 0px 25px 20px;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    font-family: "Quicksand", sans-serif;
}

.user-input::placeholder {
    color: #666;
    font-size: 20px;
}



.button,
.save {
    color: white;
    background-color: #4c63b6;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover,
.save:hover {
    background-color: #4056a1;
}

.mainhead,
.firsthead,
.user-input,
.button,
.taskhead,
.save {
    margin-left: 50px;
}

.todo-item-container {
    animation: fadeIn 0.5s ease-in-out;
    margin-bottom: 10px;
    list-style-type: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.task-box {
    flex: 1;
    margin-left: 0px;
    display: flex;
    justify-content: flex-start;
    background-color: #e1e1e1;
    border: 2px solid #333;
    border-radius: 10px;
    transition: background-color 0.3s;
    padding: 15px 0px 15px 20px;
    font-family: "Quicksand", sans-serif;
}


.task-name {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 700;
}

.label-container {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    border: 2px solid #333;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.checkbox-input:checked {
    background-color: #4c63b6;
    border-color: #4c63b6;
    outline: none;
}

.delete-icon {
    cursor: pointer;
    margin-left: 10px;
    font-size: 30px;
}

@media only screen and (max-width: 768px) {
    .backgroundcontainer {
        padding: 10px;
    }

    .container {
        max-width: 100%;
        padding: 10px;
    }

    .mainhead {
        font-size: 4.5vh;
        margin-top: 3vh;
        margin-left: auto;
        margin-right: auto;
    }

    .firsthead,
    .taskhead {
        font-size: 4vh;
    }

    .user-input {
        font-size: 16px;
        width: calc(100% - 20px);
        padding: 10px;
    }

    .button,
    .save {
        font-size: 14px;
        padding: 10px 16px;
    }

    .task-box {
        padding: 10px;
    }

    .task-name {
        font-size: 18px;
        margin-right: 5px;
    }

    .delete-icon {
        font-size: 24px;
        margin-left: 5px;
    }
}

.delete-selected-button {
    font-size: 14px;
    padding: 10px 16px;
    background-color: #ff5252;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}

.delete-selected-button:hover {
    background-color: #ff1744;
}